#hero, .aboutText, .readMe {
    text-align: center
}

#contact, #hero, #thankYou {
    background-repeat: no-repeat
}

.contact:hover, .download:hover, .resumePage:hover {
    opacity: .8
}

#hero, .navbar-nav a {
    font-family: 'Lato', sans-serif!important
}

#bites h2, .sectiontitle h2 {
    font-style: normal;
    font-stretch: normal
}

#footer a, .contact a, .download a, .resumePage a {
    text-decoration: none!important
}

body {
    margin: 0 auto
}

.logo {
    height: 38px!important;
    width: 218px!important
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Hero_BG@2x.png);
    height: 120vh;
    width: 100vw !important;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    margin-top: -15px!important;
    padding-bottom: 0!important;
}

.heroCTA {
    margin-bottom: 64px
}

#hero h1 {
    font-size: 72px!important;
    font-weight: 700
}

#hero h2 {
    font-weight: 100!important
}

#rotate {
    font-size: 35px!important;
    font-weight: 700
}

.contact {
    width: 249px;
    height: 55.2px;
    border-radius: 100px;
    background-color: #ff6876;
    margin-top: 25px;
    border: none;
    font-size: 22px;
    font-weight: 100;
    color: #fff!important;
    letter-spacing: .05em!important
}

.download, .resumePage {
    width: 200px;
    height: 55.2px;
    font-size: 22px;
    font-weight: 100
}

.contact a, .contact a:hover, .contact a:visited {
    color: #fff
}

#bites h2, #certifications h2, #education p, .sectiontitle h2 {
    letter-spacing: normal
}

.resumePage, .resumePage a, .resumePage a:visited {
    color: #ff6876!important
}

.resumePage {
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #ff6876
}

.download {
    border-radius: 100px;
    background-color: #ff6876;
    border: none;
    margin: 25px;
    color: #fff!important
}

.download a, .download a:hover, .download a:visited {
    color: #fff
}

.navbar-default {
    background-color: #fff!important;
    border: none!important;
    height: 65px;
    border-bottom: 1px solid #3f217e!important
}

.navbar-header {
    background: 0 0!important
}

.navbar-nav a {
    color: #3f217e!important;
    font-size: 20px!important;
    font-weight: 100!important
}

.navbar-nav a:hover, .readMe {
    color: #3f217e
}

.navbar-brand img {
    height: 100px;
    width: 300px
}

.navbar-toggle {
    background-color: transparent!important
}

#aboutMe, .navbar-header {
    background-color: #fff;
}

.navbar-collapse {
    border: none!important;
}

#aboutMe {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;
    padding-top: 32px;
    margin-bottom: 96px!important
}

.readMe {
    max-width: 946px!important;
    font-size: 18px;
    font-family: 'Lato';
    margin-top: -44px!important;
    font-weight: 400;
    background: #fff !important;
}

#bites, #bites h2, #bites h3 {
    color: #fff!important
}

.aboutBox {
    display: flex!important;
    max-width: 90vw!important;
    height: auto!important;
    background-color: transparent!important;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .21)
}

.aboutImage {
    margin-left: -15px!important;
    margin-top: 15px!important
}

#bites, #education h2, .bit {
    margin-top: 32px
}

.abouttitle {
    background-color: #ffb6c1
}

.aboutText {
    margin-left: 30px!important;
    width: 100%!important;
    padding-bottom: 15px
}

.aboutText h5 {
    font-weight: bolder
}

.bio {
    height: 400px!important;
    text-align: left;
    background: 0 0
}

#bites, #bites h3, .bit h3 {
    text-align: center
}

#bites, #certifications {
    opacity: .72;
    background-image: linear-gradient(1deg, #1605b5, #6daad8)!important
}

#bites {
    max-height: 1908px;
    width: 100vw;
    margin-bottom: 32px
}

.featureWork, .otherWork {
    max-height: 1735px!important;
    overflow: hidden
}

#bites h2 {
    font-family: Lato!important;
    font-size: 46px;
    font-weight: 400;
    line-height: normal;
    text-align: center!important;
    margin-bottom: -15px!important
}

#bites h3, .bit {
    font-family: 'Lato';
}

#bites img {
    height: 46px;
    width: 50px;
    margin: 5px;
    margin-bottom: 0!important
}

#bites h3 {
    font-size: 20px;
    font-weight: 700
}

.bit {
    font-weight: 400;
    height: 200px;
    font-size: 15px;
    margin-bottom: 32px!important
}

.bit p {
    line-height: 1!important
}

.bit h3 {
    margin-bottom: 0
}

.sectiontitle h2 {
    font-family: Lato!important;
    font-size: 46px;
    font-weight: 400;
    line-height: normal;
    text-align: center!important;
    color: #3f217e!important;
    margin-bottom: 42px!important
}

#bottomHero, #bottomHero p, #experience h2, #portfolio p, .dates, .sectiontitle {
    text-align: center
}

#bottomHero h2, #bottomHero h3 {
    font-weight: 400;
    color: #fff;
    font-family: Lato;
    letter-spacing: 1.8px
}

#footer, #footer a:visited {
    color: #fff!important
}

.sectiontitle {
    margin-bottom: 32px!important;
    padding: 20px
}

#hammer, #portfolio h2 {
    margin-bottom: -15px!important
}

#portfolio img {
    padding-top: 20px;
    width: 100%
}

#portfolio {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-right: 148px!important;
    margin-left: 148px!important;
    margin-top: 32px!important;
    margin-bottom: 32px
}

#portfolio p {
    font-size: 22px;
    font-family: Lato;
    color: #3f217e;
    width: 100%;
    padding-top: 15px;
    font-style: italic
}

#bottomHero h2, #bottomHero h3, #bottomHero p, #certifications h2, #footer p {
    font-style: normal;
    font-stretch: normal;
    line-height: normal
}

#portfolio a:hover {
    opacity: .7
}

.featureWork {
    max-width: 646.3px!important;
    opacity: .9
}

.otherWork {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 646.3px!important
}

#bottomHero, #bottomHeroThank {
    flex: 1;
    align-content: center!important;
    background-image: linear-gradient(108deg, #3023ae, #c96dd8)
}

#bottomHero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    height: 469px
}

#bottomHero h2 {
    font-size: 42px
}

#bottomHero h3 {
    font-size: 22px
}

#bottomHero p {
    height: 33px;
    opacity: .66;
    font-family: Lato;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1.8px;
    color: #fff
}

#footer li, #footer p {
    padding: 16px;
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: .5px;
    font-family: Lato!important;
    color: #fff
}

#footer {
    max-width: 100vw;
    max-height: 102px;
    background-image: linear-gradient(108deg, #3023ae, #c96dd8);
    margin-bottom: 0!important
}

#footer hr {
    margin-top: 0!important;
    opacity: .15
}

#footer li {
    float: right;
    list-style: none;
    text-decoration: none;
    display: block;
    text-align: right
}

#footer p {
    float: left;
    text-align: left
}

#footer a {
    color: #fff
}

#experience {
    width: 90%;
    position: relative;
    padding-top: 0!important
}

#experience h2 {
    font-family: Lato;
    font-size: 46px;
    color: #3f227e;
    margin-bottom: 32px
}

.topBar {
    width: auto;
    height: 16px;
    background-color: #8b74bd!important;
    margin-left: -15px!important;
    margin-right: -15px!important
}

.certDetails, .company, .school {
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .18);
    border: 1px solid #979797
}

#hammer {
    height: 73px;
    width: 230px
}

#mws {
    max-height: 45px;
    max-width: 167px;
    object-position: center
}

#olm {
    height: 48px;
    width: 114px;
    object-position: center
}

#wpfx {
    height: 40px;
    width: 165px
}

#experience p {
    max-width: 100%;
    max-height: 138px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44;
    color: #6b6b6b
}

.company {
    height: 460px;
    margin-bottom: 15px;
    overflow: scroll;
    padding-bottom: 10px;
}
::webkit-scrollbar{
  background-color: purple;
}

.dates {
    display: block;
    font-family: Lato!important;
    font-size: 24px;
    font-weight: 300;
    color: #8b74bd!important
}

#education h3, #experience h3 {
    font-family: Lato;
    color: #2f3841;
    font-weight: 300;
    text-align: center
}

#experience h3 {
    font-size: 18px;
    color: var(--charcoal-grey)
}

#education {
    max-width: 90vw;
    margin-bottom: 32px
}

#education h2 {
    font-family: Lato;
    font-size: 46px;
    text-align: center;
    color: #3f227e;
    margin-bottom: 32px
}

.school {
    max-width: 458.2px;
    height: 200px;
    text-align: center
}

#education h3 {
    font-size: 23px;
    color: var(--charcoal-grey)
}

#certifications p, #education p {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.44;
    color: #6b6b6b
}

#education p {
    font-weight: 300
}

#certifications p {
    font-weight: 500;
    text-align: center
}

#certifications h2, .certs {
    font-family: Lato!important
}

#certifications h2 {
    font-size: 46px;
    font-weight: 400;
    text-align: center!important;
    color: #fff!important;
    margin-bottom: 42px!important
}

.certs, .submit {
    font-weight: 300
}

#certifications {
    padding-top: 100px;
    width: 100vw
}

.certs {
    font-size: 18px!important;
    text-align: center;
    color: #2f3841;
    color: var(--charcoal-grey)
}

.contact-Me, .submit {
    font-family: Lato;
    text-align: center
}

.certDetails {
    height: 175px;
    margin-bottom: 32px;
    margin-left: 5px;
    margin-right: 5px
}

#contact {
    background-image: url(/img/contact-hero@2x.jpg);
    background-size: cover;
    margin-bottom: -25px;
    width: 100vw!important;
    margin-right: -15px!important;
    height: 95vh
}

#form {
    margin-top: 100px;
    height: 80vh;
    padding: 32px!important
}

.contact-Me {
    font-size: 46px;
    font-weight: 100;
    color: #fff!important
}

.enterEmail, .enterName {
    width: 519px;
    height: 47px;
    border-radius: 5px;
    background-color: #f4f4f4;
    background-color: var(--white)
}

.enterMessage {
    width: 519px;
    height: 250px!important;
    border-radius: 5px;
    background-color: #f4f4f4!important
}

.submit {
    width: 189.6px;
    max-height: 55.2px;
    border-radius: 100px;
    background-color: #ff6876!important;
    font-size: 20px!important;
    color: #fff;
    border: none
}

#bottomHeroThank h2, #bottomHeroThank h3 {
    font-weight: 400;
    font-family: Lato;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    color: #fff
}

#contactForm {
    width: 100px!important
}

.contactImage {
    margin-top: 100px;
    max-width: 322px;
    max-height: 320px;
    border: 5px solid #8b74bd;
    border: 5px solid var(--deep-lilac)
}

#thankYou {
    background-image: linear-gradient(108deg, #3023ae, #c96dd8);
    background-size: cover;
    height: 60vh;
    width: 100vw
}

#bottomHeroThank {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 1440px;
    height: 90vh
}

#bottomHeroThank img {
    max-width: 200px;
    max-height: 214px
}

#bottomHeroThank h2 {
    font-size: 38px
}

#bottomHeroThank h3 {
    font-size: 22px
}

#bottomHeroThank p {
    height: 33px;
    opacity: .66;
    font-family: Lato;
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
    color: #fff
}

@media (min-device-width:768px) {
    .navbar-header {
        height: 65px;
        border: none!important
    }
}

@media(max-width:1200px) {
    .navbar-nav a {
        font-size: 18px!important;
        background-color: #fff!important
    }
    .school h3{
      font-size: 18px !important;
    }
}

@media(max-width:766px) {
    #portfolio img {
        margin-left: 100px
    }
    #portfolio p {
        padding-left: 100px
    }
}

@media (max-width:1195px) {
    #hero h1 {
        font-size: 32px;
        font-weight: 700
    }
    #hero h2 {
        font-weight: 100!important
    }
    .contact {
        width: 50%;
        height: 35.2px;
        border-radius: 100px;
        background-color: #ff6876;
        margin-top: 25px;
        border: none;
        font-size: 22px;
        font-weight: 100
    }
    #hero {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        background-image: url(../img/Hero_BG@2x.png);
        background-repeat: no-repeat;
        background-clip: border-box;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
        background-size: contain;
        color: #fff;
        font-family: Lato, sans-serif!important;
        padding-top: 100px

    }
}

@media (max-width:833px) {
    #hero h1 {
        font-size: 25px!important;
        font-weight: 700
    }
    #hero h2 {
        font-weight: 100!important;
        font-size: 18px
    }

    .contact {
        width: 100px;
        height: 25.2px;
        border-radius: 100px;
        background-color: #ff6876;
        margin-top: 25px;
        border: none;
        font-size: 16px;
        font-weight: 100;
        color: #fff!important
    }
    #rotate {
        font-size: 18px;
        padding-top: 5px
    }
}

@media(max-width:320px) {
    #aboutMe {
        /*margin-top: -125px!important*/
    }
    .heroCTA {
        margin-bottom: 100px!important
    }
}

@media (max-width:767px) {
    #aboutMe {
        /*margin-top: -90px*/
    }

    .navbar-header {
        padding: 0
    }
    .navbar-default {
        background: 0 0!important;
        border-bottom: none!important
    }
    #example-navbar-collapse {
        background-color: #fff;
        width: 100vw!important;
        border: none!important;
        color: #fff!important
    }
    #example-navbar-collapse a, #example-navbar-collapse ul {
        border: none!important;
        width: 100%;
        background-color: #fff!important
    }
    .navbar-right, .navbar-right ul {
        border: none!important
    }
    #example-navbar-collapse a {
        width: 100%;
        text-align: left!important
    }
    #portfolio img {
        margin-left: 0
    }
    #portfolio p {
        width: 100%!important;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: 18px
    }
    #bottomHero p, #bottomHeroThank p {
        font-size: 18px!important
    }
    .navbar-brand img {
        height: 20px!important;
        width: 75px!important
    }
    #portfolio h2 {
        font-size: 28px!important;
        text-align: center
    }
    #hero h1, #heroText {
        font-size: 22px!important;
        margin-top: 75px;
    }
    #portfolio {
        height: 100%;
        width: 100%;
        margin-left: 0!important
    }
    body {
        margin: 0 auto
    }
    #hero {
        height: 410px;
        width: 100%;
        margin-bottom: 0;
        padding-top: 30px
    }
    .aboutBox, .aboutText {
        margin: -15px!important
    }
    .heroCTA {
        /*height: 25px;
        width: 100px;*/
        font-weight:normal;
        font-size: 12px;
    }
    #heroText {
        font-weight: 100
    }
    .aboutText {
        font-size: 12px;
        height: 45%!important;
        text-align: left;
        padding: 10px 0!important;
        line-height: normal
    }
    .aboutBox {
        width: 767px!important;
        height: 115%!important
    }
    .download, .resumePage {
        margin-right: 30px;
        margin-left: 0;
        width: 149px;
        height: 25.2px !important;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .aboutText h3 {
        font-size: 15px
    }
    .aboutText h2, .download, .resumePage {
        font-size: 12px
    }
    .aboutBox img {
        max-height: 60%!important;
        max-width: 100%!important;
        margin-top: 10px!important;
        padding-right: 5px
    }
    .certDetails {
        max-height: 100px;
        max-width: 95vw;
        font-size: 18px;
        margin-left: 17px;

     }
   .certs{
     padding-bottom: 100px !important;

   }

   .school h3{
     font-size: 18px !important;
   }

   .school p{
     font-size: 10px !important;
   }
    #hero h2, #rotate {
        font-size: .5px;
        visibility: collapse;
    }
    .contact {
        margin-top: -50px!important;
        font-weight: normal;
        font-size: 12px;
    }
    #rotate {
        margin-bottom: -25px;
    }
    #hero h2 {
        font-weight: 100!important
    }
    #bottomHero p, #bottomHeroThank p {
        height: 33px;
        opacity: .66;
        font-family: Lato;
        font-weight: normal;
        letter-spacing: 1.8px;
        text-align: center;
        color: #fff;
        padding-bottom: 100px!important
    }
    #footer li {
        margin-left: -20px!important
    }
    #contact{
      max-height: 100vh;
    }
    .enterMessage {
        width: 519px;
        height: 100px!important;
        border-radius: 5px;
        background-color: #f4f4f4!important;
    }
    .dates{
      font-weight: normal !important;
    }
    .company h3{
      font-weight: normal !important;

    }
    .school h3{
      font-weight: normal !important;
    }
    .school p{
      font-weight: normal !important;
    }
}

@media(min-width:768px)and (max-width:1024px) {
    #aboutMe {
        /*margin-top:-450px !important;*/
}
#hero h2, #rotate {
    font-size: .5px;
    visibility: collapse;
}
#rotate {
    margin-bottom: -45px
}
#hero{
  margin-bottom: 0px !important;
  height: 500px;
}
#aboutMe{
  margin-top: -70px;

}
    .heroCTA{
      font-weight: normal;

    }
    /*.download{
      font-size: 12px;
      font-weight: normal;
      height: 30px;
    }*/
    .resumePage{
      font-size: 12px;
      font-weight: normal;
      height: 30px;
    }
    .download{
      font-size: 12px;
      font-weight: normal;
      height: 30px;
    }

     .aboutText hr{
       width: 275px !important;
      }
}

@media (max-width:480px) {
    #bites, #bites h2, #bites h3 {
        text-align: center;
        color: #fff!important;
    }


        #hero {

            background-image: url(../img/HeroFull@2x.png);
            background-size: contain;
            background-attachment: fixed;

        }
    .navbar-nav a {
        font-size: 18px!important;
        background-color: rgba(138, 151, 230, .9)!important;
        width: 100vw
    }
    .navbar-default {
        width: 100vw
    }
    .aboutImage img {
        max-height: 83px!important;
        max-width: 76px!important
    }
    #bites h2 {
        font-size: 28px!important
    }
    #bites {
        width: 90%;
        margin-top: 20px;
        background-image: linear-gradient(1deg, #1605b5, #6daad8)!important
    }
    #bites ul {
        margin-right: 30px
    }
    #footer li {
        margin-left: -20px!important;
        font-size: 8px;
    }

.certDetails {
     max-width: 80vw;
     max-height: 150px;
     margin-left: 40px;

 }

@media(max-width:991px) {
    .otherWork {
        position: relative
    }
    #education h3 {
        font-size: 18px
    }
}
